.header {
    background-color: white;
    color: #F0E68C;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0 auto;
}

.logotype {
    display: flex;
}

.logo-img {
    width: 120px;
    height: 120px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.logo-name {
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 0;
    text-transform: uppercase;
    text-shadow: #BDB76B 2px 2px;
}

.logo-name a {
    color: inherit;
}

.communication {
    width: fit-content;
    padding: 5px 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.communication p {
    font-weight: 600;
    font-size: 18px;
    padding: 0 0 7px;
}

.main-content
